name: Publish Authverse Package

on:
  push:
    branches:
      - main
    paths:
      - "package/authverse/**"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/

      - name: Install Dependencies
        working-directory: package/authverse
        run: npm install

      - name: Build Package
        working-directory: package/authverse
        run: npm run build

      - name: Publish to npm
        working-directory: package/authverse
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }}
          name: Release v${{ github.run_number }}
          files: |
            package/authverse/dist/**
